input,
textarea {
    width: 160px;
    height: 26px;
    line-height: 26px;
    border: 1px solid gray;
    border-radius: 5px;
    text-indent: 5px;
    font-family: "microsoft yahei";
}

textarea {
    width: 150px;
    height: 42px;
    line-height: 20px;
    text-indent: 0;
    padding: 0 5px;
}