.Logo{
	background-image: url('../../images/chexun-logo.svg');
	background-size: cover;
	display: inline-block;
	width: 142px;
	height: 35px;
	vertical-align: top;
}
.greeting{
	font-size: 16px;
    color: pink;
    margin: 0;
}