.Button{
    min-width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
    border-radius: 16px;
    background-color: black;
    color: #ffffff;
    font-size: 12px;
    border: 0;
    cursor: pointer;
}
a.Button{
	text-decoration: none;
}
.Button:hover{
	opacity: .8;
	color: yellow;
}.Excel table{
	min-width: 800px;
	border-left: 1px #eeeeee solid;
	border-spacing: 0;
}
.Excel table thead tr th{
	font-weight: bold;
	text-align: left;
	background-color: #454545;
	color: #ffffff;
	cursor: pointer;
}
.Excel table tr,table tr td{
	height: 30px;
	text-indent: 3px;
}
.Excel .tb-tool button,
.Excel .tb-tool a{
    margin: 20px 20px 20px 0;
    padding: 0;
    border: 1px #eeeeee solid;
    border-radius: 3px;
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background: #454545;
    text-decoration: none;
}
.Excel table thead tr th{
	border-style: solid;
	border-color: gray;
	border-width: 0 1px 1px 0;
}
.Excel table tr td{
	border-style: solid;
	border-color: #eeeeee;
	border-width: 0 1px 1px 0;
}
.Excel table tr td input{
	padding: 0;
    margin: 3px 0;
    height: 24px;
    line-height: 24px;
    border: 1px #cccccc solid;
}.Logo {
  background-image: url('images/react-logo.svg');
  background-size: cover;
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}.Rating{
    font-size: 24px;
    font-family: 'microsoft yahei';
    color: #434343;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.Rating span{
	height: 24px;
	width: 24px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('images/star.png');
	background-size: cover;
}
.Rating span.RatingOn{
	background-image: url('images/star-on.png');
}.Suggest{
    width: 160px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #434343;
    border-radius: 5px;
    text-indent: 5px;
}html {
  background: white;
  font: 16px Arial;
}

